RewriteEngine on
RewriteBase /vicezon_fw_php/

RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^([^/]*)/([^/]*)/([^/]*)/([^/]*)$ index.php?module=$1&function=$2&param=$3&param2=$4 [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^([^/]*)/([^/]*)/([^/]*)$ index.php?module=$1&function=$2&param=$3 [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^([^/]*)/([^/]*)$ index.php?module=$1&function=$2 [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^([^/]*)$ index.php?module=$1 [L,NC]