<div class="contenido">
    <div class="pages">
        <div id="contenido">
<div class="carrito">
    <table id="cart_table" class="table table-hover">
        <!--Table head-->
        <thead class="mdb-color darken-3">
            <tr class="text-white">
                <th>#</th>
                <th>PRODUCT</th>
                <th>NOMBRE</th>
                <th>PRICE</th>
                <th>CANTIDAD</th>
                <th>Amount</th>
                <th>Manage</th>
            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
        </tbody>
        <!--Table body-->
    </table>
    <div class="cart_down">
        <span class="price_total_cart"></span>
        <a id="checkout" class="btn btn-success" href="#">COMPRAR</a>
    </div>
</div>
</div>
</div>
</div>
