<div class="contenido">
    <div class="pages">
        <div class="contact_form">
            <div class="contact_form_map">
                <div id="map"></div>
            </div>
            <div class="contact_form_form">
                <form class="form">
                    <span id="contact_form_form_title">Contact US</span>
                    <label class="label_form">TELL US YOUR NAME*</label>
                    <div class="input_double">
                        <input name="name" type="text" placeholder="Your Name" class="input_form_doble"/>
                        <input name="surname" type="text" placeholder="Your Surname" class="input_form_doble"/>
                    </div>
                    <div class="input_single">
                        <label class="label_form">TELL US YOUR EMAIL*</label>
                        <input name="email" type="text" placeholder="Eg. example@vicezon.com" class="input_form"/>
                    </div>
                    <div class="input_single">
                        <label class="label_form">TELL US YOUR Phone*</label>
                        <input name="phone" type="text" placeholder="Eg. +34 657463746" class="input_form"/>
                    </div>
                    <div class="input_single">
                        <label class="label_form">Message*</label>
                        <textarea class="text_area_contact input_form"name="message" type="text" placeholder="Write us a message..."></textarea>
                    </div>
                    <div class="input_boton">
                        <a class="btn btn-dark pull-right">Send</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
