<div class="contenido">
    <div class="pages">
        <div id="contenido">
            <form id="form_recover" class="recover_form" autocomplete="off" action="">
                <p class="h4 mb-4">Change Password</p>
                <div class="form-row mb-4">
                    <div class="col">
                        <input type="password" id="password_recover" name="password_recover" class="form-control" placeholder="Password" value="12345678">
                        <div id="e_password" class="alert alert-danger" role="alert" hidden></div>
                    </div>
                    <div class="col">
                        <input type="password" id="confirm_password_recover" name="confirm_password_recover" class="form-control" placeholder="Confirm Password" value="12345678">
                        <div id="e_confirm_password" class="alert alert-danger" role="alert" hidden></div>
                    </div>
                </div>
                <small class="form-text text-muted">
                    At least 8 characters and 1 digit
                </small>
                <button class="btn btn-info my-4 btn-block" type="submit">Change Password</button>
            </form>
        </div>
    </div>
</div>
