<div class="contenido">
    <div class="pages">
        <div id="contenido">
            <form id="form_login" class="login_form" autocomplete="off" action="">
                <p class="h4 mb-4">LOGIN</p>
                <div id="login_msg"></div>
                <div class="form-row mb-4">
                    <div class="col">
                        <input type="text" id="login_username" name="login_username" class="form-control" placeholder="Username" value="test">
                        <div id="e_username" class="alert alert-danger" role="alert" hidden></div>
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="col">
                        <input type="password" id="login_password" name="login_password" class="form-control" placeholder="Password" value="12345678">
                        <div id="e_password" class="alert alert-danger" role="alert" hidden></div>
                    </div>
                </div>
                <button class="btn btn-info btn-block my-4" type="submit">Login</button>
                <div class="social_login">
                    <a id="google_login" class="btn_google"><i class="fab fa-google"></i>Google</a>             
                    <a id="github_login" class="btn_ghub"><i class="fab fa-github"></i>GitHub</a>  
                    <a id="logout_login" class="btn_ghub"></i>Logout</a> 
                </div>
                <hr>
                <p>Not a member?
                    <a id="not_a_member">Register</a>
                </p>
                <p>Recover password
                    <a id="recover">HERE</a>
                </p>
            </form>
        </div>
    </div>
</div>