<div class="contenido">
    <div class="pages">
        <div id="contenido">
            <form id="form_send_mail" class="form_send_mail" autocomplete="off" action="">
                <p class="h4 mb-4">Type your Email</p>
                <div class="form-row mb-4">
                    <div class="col">
                        <input type="email" id="email_send_mail" name="email_send_mail" class="form-control" placeholder="E-mail" value="test@test.com">
                        <div id="e_email" class="alert alert-danger" role="alert" hidden></div>
                    </div>
                </div>
                <button class="btn btn-info my-4 btn-block" type="submit">Request password</button>
            </form>
        </div>
    </div>
</div>
