<div class="contenido">
    <div class="pages">
        <div id="contenido">
            <div class="carousel-tablets">
                <h1>TOP TABLETS</h1>
                <div id="top-tablets" class="owl-carousel owl-theme">
                </div>
            </div>
            <hr></hr>
                <div class= "top-brands">
                    <h1 id="best_brands">POPULAR BRANDS</h1>
                    <div class="top-brands-carousel">
                        <div id="brands-cards-homepage">
                        </div>
                        <a class="more_brands"><i class="fas fa-arrow-circle-right fa-2x"></i></a>
                    </div>
                </div>
            <hr></hr>
                <div class= "products_view">
                    <h1 id="products_view_title">Products more visited</h1>
                    <div id="products_more_visited">
                    </div>
                    <a class="loadmorebutton">LOAD MORE</a>
        
                </div>
            <hr></hr>
            <div class="news_home" id="news_home">
                <h1>TABLETS NEWS</h1>
                <div class="news_home_content" id="news_home_content">
                </div>
                <div class="buttonloadmore">
                    <a class="load_more_news">LOAD MORE NEWS</a>
                    <a class="reset_news">RESET NEWS</a>
                </div>
            </div>
            <hr></hr>
            <div class="lroem">
                <h2>Lorem ipsum dolor sit amet.</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum aut harum eligendi 
                quaerat distinctio. Similique, dicta. Illo aperiam debitis facere omnis deleniti fuga maxime 
                enim voluptate accusantium exercitationem aut a blanditiis, corporis ratione asperiores eaque 
                expedita dolores optio atque, alias laborum iste commodi laudantium! Laborum sequi pariatur qui
                vero maxime qui vel aut praesentium atque, quaerat minima neque soluta iste officia excepturi 
                quisquam laboriosam! Velit eos minus, ad tempora saepe numquam nisi beatae repudiandae fugiat plac
                eat dolorem laudantium voluptatem deserunt cupiditate vitae dolores! Dolores minus obcaecati eaque ip
                sam reiciendis pariatur, voluptatem at fuga voluptas quis consequuntur laudantium saepe ab unde.
            </div>
            <div class="lroem">
                <h2>Lorem ipsum dolor sit amet.</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum aut harum eligendi 
                quaerat distinctio. Similique, dicta. Illo aperiam debitis facere omnis deleniti fuga maxime 
                enim voluptate accusantium exercitationem aut a blanditiis, corporis ratione asperiores eaque 
                expedita dolores optio atque, alias laborum iste commodi laudantium! Laborum sequi pariatur qui
                vero maxime qui vel aut praesentium atque, quaerat minima neque soluta iste officia excepturi 
                quisquam laboriosam! Velit eos minus, ad tempora saepe numquam nisi beatae repudiandae fugiat plac
                eat dolorem laudantium voluptatem deserunt cupiditate vitae dolores! Dolores minus obcaecati eaque ip
                sam reiciendis pariatur, voluptatem at fuga voluptas quis consequuntur laudantium saepe ab unde.
            </div>
            <div class="lroem">
                <h2>Lorem ipsum dolor sit amet.</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum aut harum eligendi 
                quaerat distinctio. Similique, dicta. Illo aperiam debitis facere omnis deleniti fuga maxime 
                enim voluptate accusantium exercitationem aut a blanditiis, corporis ratione asperiores eaque 
                expedita dolores optio atque, alias laborum iste commodi laudantium! Laborum sequi pariatur qui
                vero maxime qui vel aut praesentium atque, quaerat minima neque soluta iste officia excepturi 
                quisquam laboriosam! Velit eos minus, ad tempora saepe numquam nisi beatae repudiandae fugiat plac
                eat dolorem laudantium voluptatem deserunt cupiditate vitae dolores! Dolores minus obcaecati eaque ip
                sam reiciendis pariatur, voluptatem at fuga voluptas quis consequuntur laudantium saepe ab unde.
            </div>
            <div class="lroem">
                <h2>Lorem ipsum dolor sit amet.</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum aut harum eligendi 
                quaerat distinctio. Similique, dicta. Illo aperiam debitis facere omnis deleniti fuga maxime 
                enim voluptate accusantium exercitationem aut a blanditiis, corporis ratione asperiores eaque 
                expedita dolores optio atque, alias laborum iste commodi laudantium! Laborum sequi pariatur qui
                vero maxime qui vel aut praesentium atque, quaerat minima neque soluta iste officia excepturi 
                quisquam laboriosam! Velit eos minus, ad tempora saepe numquam nisi beatae repudiandae fugiat plac
                eat dolorem laudantium voluptatem deserunt cupiditate vitae dolores! Dolores minus obcaecati eaque ip
                sam reiciendis pariatur, voluptatem at fuga voluptas quis consequuntur laudantium saepe ab unde.
            </div>
        </div>
    </div>
</div>