div.socialmedia i.fab{
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
div.socialmedia span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 2%;
    font-size: 18px;
}
div.socialmedia i.fab:hover{
color: #fff;
opacity: 0.7;
text-decoration: none;
border-left: solid 5px  #fff;
transition: border 0.5s; /*animacion del borde al hacer hover*/
}
.fa-instagram{
    background: #125688;
    color: white;
}
.fa-youtube{
    background: #bb0000;
    color: white;
}
.logo{
    margin-bottom: 50%;
}
.logo img{
    margin: 15%;
    margin-bottom: 4%;
    width: 70%;
    height: 70%;
    border: 2px solid #fff;
    border-radius: 50%;
}
.logo p{
    cursor: pointer;
    margin-left: 23%;
}
.logo p:hover{
    opacity: 0.7;
}
.top-bar{
	width: 100%;
	height: 50px;
    background-color: #2a2a2a;
    transition: padding, 0.9s;
}
.top-bar-open{
    width: 100vw;
	transition: padding, 0.9s;
}
.top-bar p {
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    color: #fff;
}
.sidebar{
    position: relative;
    margin:0px;
    padding: 0px;
    width: 10vW;
    height: 100vh;
    background-color: #333;
    color: rgb(255, 255, 255);
    transition: all,0.9s;
    overflow: hidden;
}
.sidebar-name{
    text-align: center;
    padding-top: 4%;
    height: 50px;
    font-weight: bold;
    background-color: #2a2a2a;
    font-size: 20px;
    cursor: pointer;
}
.sidebar-name:hover{
    color: rgb(194, 194, 194);
}
.sidebar li {
    border: solid #2a2a2a 1px;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}
.sidebar a:hover {
    color: #fff;
    background-color: #444;
    text-decoration: none;
    border-left: solid 5px  #fff;
    transition: border 0.5s; /*animacion del borde al hacer hover*/
}
.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu-btn{
    margin-top: 10px;
    margin-left: 10%;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: all,0.9s;
    
}
.cerrar-btn{
    margin-left: 10px;
    transition: all,0.9s;
}
.cerrar-menu{
    width: 0vw;
    transition: all,0.9s;
}
#iconmenui{
    transition: all,0.9s;
}
.rot{
    transform: rotate(180deg);
    transition: all,0.9s;
}