<!-- CAROUSEL -->
<link rel="stylesheet" href="/vicezon_fw_php/modules/client/view/libraries/OwlCarousel/dist/assets/owl.carousel.css">
<link rel="stylesheet" href="/vicezon_fw_php/modules/client/view/libraries/OwlCarousel/dist/assets/owl.theme.default.min.css">
<script type="text/javascript" src="/vicezon_fw_php/modules/client/view/libraries/OwlCarousel/dist/owl.carousel.min.js"></script>

<!--PROPIO HOME-->
<link rel="stylesheet" href="/vicezon_fw_php/modules/client/view/css/long_header.css">
<link rel="stylesheet" href="/vicezon_fw_php/modules/client/modules/home/view/css/home_style.css">
<script type="text/javascript" src="/vicezon_fw_php/modules/client/modules/home/view/js/list_home.js"></script>

<!-- FAV Y CART -->
<script type="text/javascript" src="/vicezon_fw_php/modules/client/modules/shop/view/js/fav.js"></script>
<!-- <script type="text/javascript" src="module/client/module/cart/view/js/cart.js"></script> -->
