<!-- CAROUSEL
<link rel="stylesheet" href="module/client/view/libraries/OwlCarousel/dist/assets/owl.carousel.css">
<link rel="stylesheet" href="module/client/view/libraries/OwlCarousel/dist/assets/owl.theme.default.min.css">
<script type="text/javascript" src="module/client/view/libraries/OwlCarousel/dist/owl.carousel.min.js"></script> -->

<!--PROPIO SHOP-->
<link rel="stylesheet" href="modules/client/view/css/short_header.css">
<link rel="stylesheet" href="modules/client/modules/shop/view/css/shop_style.css">
<script type="text/javascript" src="modules/client/modules/shop/view/js/list_shop.js"></script>

<!-- <script type="text/javascript" src="modules/client/modules/shop/view/js/fav.js"></script>
<script type="text/javascript" src="modules/client/modules/cart/view/js/cart.js"></script> -->
