/* HEADER */
header{
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    background-color: rgba(0,0,0,0.8);
    height: 500px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background-image: url("/vicezon_fw_php/modules/client/modules/home/view/img/header2.jpg");
    background-size: cover;
}
header:before {
    content:'';
    height: 500px;
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
#button-search{
    padding: 9px;
    margin: 0;
}
.title{
    bottom: 74px;
    left: 20px;
    font-size: 50px;
}
.slogan{
    position: relative;
    left: 53px;
    bottom: 6px;
    text-align: right;
    font-size: 20px;
}
.search{
    min-width: 200px;
    width: 40%;
}

.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border {
    border: 1px solid #ef9a9a;
}
