#cart_empty{
    display: flex;
    justify-content: center;
    font-size: 73px;
}
.fa-minus-square{
    color: red;
    margin-right: 10px;
    cursor: pointer;
}
.fa-plus-square{
    color: green;
    margin-left: 10px;
    cursor: pointer;
}
.qty-text{
    font-size: 15px;
    font-weight: bold;
}

.fa-trash-alt{
    cursor: pointer;
    color: rgb(163, 13, 163);
}
.cimagen{
    margin-right: 5px;
    width: 35px;
    height: auto;
    white-space: nowrap;
}
.cart_down{
    float: right;
}
.price_total_cart{
    font-weight: bold;
    margin-right: 50px;
}