
<!-- Style -->
<link rel="stylesheet" href="/vicezon_fw_php/modules/client/modules/profile/view/css/profile.css">
<link rel="stylesheet" href="/vicezon_fw_php/modules/client/view/css/short_header.css">

<!-- CONFIRM DIALOGs -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Scripts -->
<script src="/vicezon_fw_php/modules/client/modules/profile/view/js/cprofile.js"></script>
<script src="/vicezon_fw_php/modules/client/modules/profile/view/js/generate_code.js"></script>