<!-- Validation Forms-->
<script type="text/javascript" src="/vicezon_fw_php/modules/client/modules/login/view/js/validate_login.js"></script>

<!-- Style -->
<link rel="stylesheet" href="/vicezon_fw_php/modules/client/modules/login/view/css/login.css">
<link rel="stylesheet" href="/vicezon_fw_php/modules/client/view/css/short_header.css">

<!-- Scripts -->
<script type="text/javascript" src="/vicezon_fw_php/modules/client/modules/login/view/js/functions_login.js"></script>
<!-- <script src="/vicezon_fw_php/modules/client/modules/profile/view/js/cprofile.js"></script> -->